@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.jsx';

:root {
    --font-primary: "Vend Sans", sans-serif;
}

@theme {
    --color-background-dark: #0a0a0f;
    --color-login-card-body: #151520;
    --color-input-border: #2a2a35;
    --color-input-background: #1a1a25;

    --color-primary: #FF6347;
    --color-secondary: #4682B4;
    --color-custom-gray: #E0E0E0;
}
